#user-div{
    margin-top:60px; 
    position: fixed;
}
.card-width{
    width: 18rem;
}
#names{
    margin-top:-55px;
    width:200px;
    margin-left:80px;
}
#profile-div{
    margin-left:34%; 
    width:30%;
}
#profile{
    background-color: white; 
    border-radius: 2px; 
    border:1px solid rgb(198, 193, 193);
}
#post_create{
    width:80%; 
    text-decoration: none;
}
.input{
    width:100%; 
    cursor:pointer;
}
#post-div{
    margin-top:50px; 
    margin-left:34%; 
    width:30%; 
    border-radius:2px;
}
.post{
    margin:auto; 
    margin-bottom:10px; 
    width:100%; 
    background-color: white;
}
.accountimg{
    margin:4px 10px; 
    border-radius: 30px;
}
.post-details{
    margin-top:-55px;
    width:200px;
    margin-left:80px; 
    height:60px;
}
.postimg{
    display:flex; 
    margin: auto; 
    width:100%; 
    height:350px;
}
.like-btn{
    background:none; 
    border:none;
    outline: none !important;
    margin:5px; 
    max-width: 70px; 
    display:inline-flexbox;
}
#caption-card{
    display:flex; 
    margin-left:5px; 
    width:400px;
}
.caption{
    color:black; 
    margin:0 5px;
    font-weight: 600;
    text-decoration: none;
}
.suggestions{
    position:fixed; 
    left:75vw; 
    background-color:white; 
    top:80px; 
    overflow:hidden;
}
.suggestions-text{
    margin:15px; 
    color:grey;
}