{% extends 'feed/base.html' %}
{%load static%}
{% load humanize %}
{% block content%}

    {%if messages%}
    <div class="alert alert-success" role="alert">
        {%for message in messages%}
        {{message}}
        {%endfor%}
    </div>
    {%endif%}

    <div style="margin-top:60px; position: fixed;" class="hidden">
        <a href="{%url 'profile' %}"">
              <div class=" card mx-3 my-3" style="width: 18rem;">
            <div class="card-body">
                <span>
                    <img class='accountimg profileimg' value="{{user.first_name}} {{user.last_name}}"
                        src="{{user.profile.image.url}}" alt='profile image'>
                </span>
                <div style="margin-top:-55px;width:200px;margin-left:80px;">
                    <a>{{user.first_name}} {{user.last_name}}
                        <div style="color:rgb(156, 147, 147);">
                            @{{user.username}}
                        </div>
                    </a>
                </div>
            </div>
    </div>
    </a>
    <div class="card mx-3 my-5" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <a href="{%url 'home' %}">
                <li class="list-group-item">
                    Home
                </li>
            </a>
            <a href="{%url 'show_profiles' %}">
                <li class="list-group-item">
                    People
                </li>
            </a>
            <a href="{%url 'photos' %}">
                <li class="list-group-item">
                    Photos</li>
            </a>
            <a href="#">
                <li class="list-group-item active">
                    Notifications
                </li>
            </a>
            <a href="{%url 'profile' %}">
                <li class="list-group-item">
                    Profile
                </li>
            </a>
            <a href="#">
                <li class="list-group-item">
                    Chats
                </li>
            </a>
        </ul>
    </div>
    </div>
    <br>
    <br>
    <br>
    <div style="margin-left:30%; width:40%;">
        <h3>Notifications:</h3>
        {%for x in notifications%}
            <div class="card">
                <div class="card-body">
                    <a href="{%url 'show_profile' x.other_user %}" style="text-decoration: none;">
                        <img class='accountimg profileimg'  value="{{x.other_user.first_name}} {{x.other_user.last_name}}" style='margin:4px 10px; border-radius: 30px;' src="{{x.other_user.profile.image.url}}" alt='profile image'>
                    </a>
                    <a href="{%url 'show_profile' x.other_user %}" style="text-decoration: none;">
                        <strong style="color:black;">{{x.other_user}}</strong>
                    </a>

                    {{x.notification}} 
                    <span style="float:right">{{x.datetime|naturaltime}}</span>
                </div>
            </div>
        {%endfor%}
    </div>
    <script>
        img();
        $("#searchinput").keyup( function() {
            var searchQuery = $("#searchinput").val();
            if(searchQuery.length === 0){
                $('#searchbox').hide();
            }else{
                $('#searchbox').show();
            }
        
            $.ajax({
                type:"POST",
                url: "../search/",
                data:{
                    id: searchQuery
                },
                success: function(data){
                    formStringbase(data);
                }
            })
        });
    </script>
{%endblock content%}