{% extends 'accounts/base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
    <div class = 'main-div'>

        <div class = 'main-heading'></div>
        <form method = "POST">

            {% load static %}
            {%csrf_token%}
            <div class = 'center'>
                <fieldset class = 'form-group'>
                    <legend class = 'form-heading'>Check Your Inbox</legend>
                    <div class="form-label-group">
                        We've emailed you instructions for setting your password. You should receive the email shortly!
                        <br><br>
                        In case you don't receive any email, Try again and make sure you have entered the email corectly!!
                    </div>
                </fieldset>
              <a href = "{%url 'login' %}"><p>Back to login page</p></a>
            </div>
        </form>
    </div>     
{% endblock %}