{% extends 'accounts/base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class = 'main-div'>

  {%if messages%}
      <div class="alert alert-danger">
          {%for message in messages%}
              {{message}}
          {%endfor%}
      </div>
  {%endif%}
  
  <div class = 'main-heading'></div>
  <form method = "POST">

      {% load static %}
      {%csrf_token%}

      <div class = 'center'>
          <fieldset class = 'form-group'>
              <legend class = 'form-heading'>Forgot your password?</legend>
              <div class="form-label-group">
                  <label for="id_email" class='label'>Enter Your Email:</label>
                  <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" class="inputfield form-control"
                  required autofocus>
              </div>
          </fieldset>
          <div class = "form-group">
              <button class = "button" type = "submit" name="password_reset" value="password_reset">Send Email</button>
              <br><br>
              <a href = "{%url 'login' %}"><p>Back to login page</p></a>
          </div>
      </div>

  </form>
</div>       
{% endblock %}