{% extends 'accounts/base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
    <div class = 'main-div'>

        <div class = 'main-heading'></div>
        <form method = "POST">

            {% load static %}
            {%csrf_token%}
            <div class = 'center'>
                <fieldset class = 'form-group'>
                    <legend class = 'form-heading'>Password Reset Complete</legend>
                    <div class="form-label-group">
                        Your new password has been set. You can log in now.
                    </div>
                </fieldset>
                <a href = "{%url 'login' %}"><p>Back to login page</p></a>
            </div>
        </form>
    </div> 
{% endblock %}