{% extends 'accounts/base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    <div class = 'main-div'>
        <div class = 'main-heading'></div>
        <form method = "POST">

            {%if messages%}
                <div class="alert alert-success" role="alert">
                    {%for message in messages%}
                        {{message}}
                    {%endfor%}
                </div>
            {%endif%}

            {% load static %}
            {%csrf_token%}
            <div class = 'center'>
                <fieldset class = 'form-group'>
                    <legend class = 'form-heading'>Change Password</legend>
                    <div class="form-label-group">
                        <label for="id_new_password1" class = 'label'>New Password</label>
                        <input type="password" id="id_new_password1" name="new_password1" class="inputfield form-control" required autofocus>
                    </div>

                    <div class="form-label-group">
                        <label for="id_new_password2" class = 'label'>Confirm New Password</label>
                        <input type="password" name="new_password2" id="id_new_password2" class="inputfield form-control"required>
                    </div>
                </fieldset>
                <div class = "form-group">
                    <button class = "button" type = "submit" name="Change my password" value="Change my password">Change password</button>
                    <br><br>
                    <a href = "{%url 'login' %}"><p>Back to login page</p></a>
                </div>
            </div>
        </form>
    </div>     
{% endblock %}