{% extends 'feed/base.html'%}
{% load static%}
{% block content%}
    <div style="margin-top:60px; position: fixed;" class="hidden">
        <a href="{%url 'profile' %}">
          <div class=" card mx-3 my-3" style="width: 18rem;">
            <div class="card-body">
              <span>
                <img class='accountimg profileimg' value="{{user.first_name}} {{user.last_name}}" src="{{user.profile.image.url}}" alt='profile image'>
              </span>
              <div style="margin-top:-55px;width:200px;margin-left:80px;">
                <a>{{user.first_name}} {{user.last_name}} 
                  <div style="color:rgb(156, 147, 147);">
                    @{{user.username}}
                  </div>
                </a>
              </div>
            </div>
          </div>
        </a>
        <div class="card mx-3 my-5" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <a href="{%url 'home' %}">
                    <li class="list-group-item">
                        Home
                    </li>
                </a>
                <a href="{%url 'show_profiles' %}">
                    <li class="list-group-item">
                        People
                    </li>
                </a>
                <a href = "{%url 'photos' %}">
                    <li class="list-group-item">
                        Photos
                    </li>
                </a>
                <a href="#">
                    <a href = "{%url 'notifications' %}">
                        <li class="list-group-item">
                            Notifications
                        </li>
                    </a>
                </a>
                <a href="{%url 'profile' %}">
                    <a href = "{%url 'profile' %}">
                        <li class="list-group-item">
                            Profile
                        </li>
                    </a>
                </a>
                <a href="#">
                    <li class="list-group-item">
                        Chats
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div style="margin-top:50px; margin-left:34%; width:30%; border-radius:2px;">
        <h3>Problems Reported:</h3>
        <br>
        {%for problem in problems%}
            <div class="card" style="margin-bottom:50px; padding:5px;">
                <strong>{{problem.uname}}</strong>
                {{problem.text}}
                <img src="/media/{{problem.image}}" alt="image not loaded">
            </div>
        {%endfor%}
    </div>
    <script>img()</script>
    <script src="{% static '../static/script/main.js' %}"></script>
{% endblock content%}